.app-header {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  height: 60px;
  background-color: #263238; /* Original color */
  color: white;
  padding: 0 1rem;
  width: calc(100% - 5rem); /* Adjust width based on sidebar width */
  position: fixed;
  top: 0;
  left: 5rem; /* Align with the right edge of the sidebar */
  z-index: 999; /* Ensure it appears above main content */
  border-bottom: none; /* Remove border if any */
}

.header-right {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #263238; /* Match sidebar color */
  color: white; /* Match sidebar text color */
  min-width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  z-index: 1;
  flex-direction: column;
  border-radius: 0.625rem; /* Add rounded corners */
  padding: 0.5rem 0; /* Add padding for spacing */
}

.dropdown-content a {
  color: white; /* Match sidebar text color */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth effect */
  border-radius: 0.625rem; /* Add rounded corners to each item */
}

.dropdown-content a:hover,
.dropdown-content a:focus {
  background-color: #fff; /* Change background to white */
  color: #263238; /* Change text color to contrast with white */
}

.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content {
  display: flex;
}

