<header *ngIf="headerVisible">
  <nav>
    <div class="container">
      <ul>
        <li><a routerLink="/home" class="home-link">Home</a></li>
        <li><a routerLink="/categories" class="home-link">Categories</a></li>
        <!-- Other navigation items -->
      </ul>
    </div>
    <div class="container">
      <div class="user-menu" *ngIf="isLoggedIn()">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/profile">Account</button> <!-- New Account button -->
          <button mat-menu-item *ngIf="isAdmin()" (click)="onManageUsers()">Manage Users</button>
          <button mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>
      </div>
    </div>
  </nav>
</header>
