.dialog-title {
  font-size: 24px;
  font-weight: bold;
  color: #3f51b5;
  margin-bottom: 20px; /* Add margin to create space below the title */
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add gap between form fields */
}

.full-width {
  width: 100%;
}

.full-width-checkbox {
  display: flex;
  align-items: center;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Add gap between buttons */
}

.mat-form-field {
  margin-bottom: 20px; /* Add margin to create space below each field */
}

.mat-dialog-actions .mat-button {
  min-width: 80px; /* Ensure buttons have a minimum width */
}

.cancel-button {
  background-color: #f44336;
  color: white;
}

.save-button {
  background-color: #3f51b5;
  color: white;
}
