.categories-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.category-card {
  margin-bottom: 20px;
  margin-top: 50px;
}

.mat-card-title {
  font-size: 20px;
}

.mat-card-subtitle {
  font-size: 16px;
  color: gray;
}

/* Ensure mat-form-field width is appropriate */
mat-form-field {
  width: 100%;
}

/* Ensure that mat-list-item is displayed properly */
mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card-content form {
  margin-top: 20px;
}

button[type="submit"] {
  margin-right: 10px;
}

/* Add visibility handling for expanded content */
.mat-card-content {
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
}

/* Class to apply when the category is expanded */
.category-expanded .mat-card-content {
  max-height: 500px; /* or any appropriate value that fits your content */
  padding: 16px;
}

/* Ensure buttons have appropriate spacing */
button {
  margin-left: 10px;
}
