.app-container.login-page .main-wrapper {
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  display: flex;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #5ea8f2;
  overflow: auto; /* Ensure content is scrollable if needed */
}

.main-content.without-sidebar {
  margin-left: 0; /* No margin when sidebar is hidden */
}

.main-content.with-header {
  margin-top: 60px; /* Ensure content is below the header */
}
