<div class="app-container">
  <div class="login-container mat-elevation-z2">
    <!-- Spinner -->
    <div *ngIf="isRecoveringPassword" class="spinner-overlay">
      <mat-spinner></mat-spinner>
    </div>

    <!-- Header -->
    <h2 *ngIf="!showRecoverPassword">{{ 'LOGIN.HEADER' | translate }}</h2>
    <h2 *ngIf="showRecoverPassword">{{ 'LOGIN.RECOVER_PASSWORD_HEADER' | translate }}</h2>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()" *ngIf="!showMFA && !showRecoverPassword">
      <!-- Email Field -->
      <mat-form-field appearance="fill">
        <mat-label>{{ 'LOGIN.EMAIL' | translate }}</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="loginForm.get('email')?.hasError('required') && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
          {{ 'LOGIN.ERRORS.EMAIL_REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email') && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
          {{ 'LOGIN.ERRORS.EMAIL_INVALID' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Password Field -->
      <mat-form-field appearance="fill">
        <mat-label>{{ 'LOGIN.PASSWORD' | translate }}</mat-label>
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" required minlength="4" maxlength="20">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
          {{ 'LOGIN.ERRORS.PASSWORD_REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength') && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
          {{ 'LOGIN.ERRORS.PASSWORD_MINLENGTH' | translate }}
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('maxlength') && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
          {{ 'LOGIN.ERRORS.PASSWORD_MAXLENGTH' | translate }}
        </mat-error>
        <button mat-icon-button type="button" (click)="togglePasswordVisibility()" matSuffix>
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <!-- Language Switcher Dropdown -->
      <div class="language-switcher">
        <button mat-icon-button [matMenuTriggerFor]="languageMenu" class="language-button">
          <img [src]="getFlagByCode(selectedLanguage)" alt="Selected language" class="selected-flag">
        </button>
        <mat-menu #languageMenu="matMenu">
          <button mat-menu-item *ngFor="let lang of languages" (click)="changeLanguage(lang.code)">
            <img [src]="lang.flag" alt="{{ lang.name }}" class="flag">
          </button>
        </mat-menu>
      </div>

      <!-- Login Button -->
      <button mat-raised-button color="primary" type="submit" class="full-width">
        {{ 'LOGIN.LOGIN_BUTTON' | translate }}
      </button>

      <button mat-button type="button" (click)="showRecoverPasswordForm()" class="full-width">
        {{ 'LOGIN.FORGOT_PASSWORD' | translate }}
      </button>
    </form>

    <!-- MFA Form -->
    <form [formGroup]="mfaForm" (ngSubmit)="verifyMFA()" *ngIf="showMFA">
      <!-- MFA Token Field -->
      <div class="mfa-token-field">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'LOGIN.MFA.TOKEN_LABEL' | translate }}</mat-label>
          <input matInput #mfaTokenInput formControlName="mfaToken" type="text" required>
        </mat-form-field>
      </div>

      <!-- Verify MFA Button -->
      <button mat-raised-button color="primary" type="submit" class="full-width">
        {{ 'LOGIN.MFA.SUBMIT_BUTTON' | translate }}
      </button>
    </form>

    <!-- Recover Password Form -->
    <form [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPassword()" *ngIf="showRecoverPassword">
      <!-- Email Field -->
      <mat-form-field appearance="fill">
        <mat-label>{{ 'LOGIN.RECOVER_PASSWORD.EMAIL_LABEL' | translate }}</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>

      <!-- Recover Password Button -->
      <button mat-raised-button color="primary" type="submit" class="full-width">
        {{ 'LOGIN.RECOVER_PASSWORD.SUBMIT_BUTTON' | translate }}
      </button>
      <!-- Cancel Button -->
      <button mat-button type="button" (click)="cancelRecoverPassword()" class="full-width">
        {{ 'LOGIN.RECOVER_PASSWORD.CANCEL_BUTTON' | translate }}
      </button>
    </form>
  </div>
</div>
