<div class="app-container">
  <div class="login-container mat-elevation-z2">
    <!-- Spinner -->
    <div *ngIf="isRecoveringPassword" class="spinner-overlay">
      <mat-spinner></mat-spinner>
    </div>

    <!-- Header -->
    <h2 *ngIf="!showRecoverPassword">Login</h2>
    <h2 *ngIf="showRecoverPassword">Recover Password</h2>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()" *ngIf="!showMFA && !showRecoverPassword">
      <!-- Email Field -->
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="loginForm.get('email')?.hasError('required') && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
          Email is required.
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email') && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      <!-- Password Field -->
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" required minlength="4" maxlength="20">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
          Password is required.
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength') && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
          Password must be at least 4 characters.
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('maxlength') && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
          Password cannot exceed 20 characters.
        </mat-error>
        <button mat-icon-button type="button" (click)="togglePasswordVisibility()" matSuffix>
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <!-- Login Button -->
      <button mat-raised-button color="primary" type="submit" class="full-width">
        Login
      </button>
      <button mat-button type="button" (click)="showRecoverPasswordForm()" class="full-width">
        Forgot Password?
      </button>
    </form>

    <!-- MFA Form -->
    <form [formGroup]="mfaForm" (ngSubmit)="verifyMFA()" *ngIf="showMFA">
      <!-- MFA Token Field -->
      <div class="mfa-token-field">
        <mat-form-field appearance="fill">
          <mat-label>MFA Token</mat-label>
          <input matInput #mfaTokenInput formControlName="mfaToken" type="text" required>
          <mat-error *ngIf="mfaForm.get('mfaToken')?.hasError('required') && (mfaForm.get('mfaToken')?.touched || mfaForm.get('mfaToken')?.dirty)">
            MFA Token is required.
          </mat-error>
          <mat-error *ngIf="mfaForm.get('mfaToken')?.hasError('minlength') && (mfaForm.get('mfaToken')?.touched || mfaForm.get('mfaToken')?.dirty)">
            MFA Token must be 6 characters long.
          </mat-error>
          <mat-error *ngIf="mfaForm.get('mfaToken')?.hasError('maxlength') && (mfaForm.get('mfaToken')?.touched || mfaForm.get('mfaToken')?.dirty)">
            MFA Token must be 6 characters long.
          </mat-error>
          <mat-error *ngIf="mfaForm.get('mfaToken')?.hasError('pattern') && (mfaForm.get('mfaToken')?.touched || mfaForm.get('mfaToken')?.dirty)">
            MFA Token must be numeric.
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Verify MFA Button -->
      <button mat-raised-button color="primary" type="submit" class="full-width">
        Verify MFA
      </button>
    </form>

    <!-- Recover Password Form -->
    <form [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPassword()" *ngIf="showRecoverPassword">
      <!-- Email Field -->
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="recoverPasswordForm.get('email')?.hasError('required') && (recoverPasswordForm.get('email')?.touched || recoverPasswordForm.get('email')?.dirty)">
          Email is required.
        </mat-error>
        <mat-error *ngIf="recoverPasswordForm.get('email')?.hasError('email') && (recoverPasswordForm.get('email')?.touched || recoverPasswordForm.get('email')?.dirty)">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      <!-- Recover Password Button -->
      <button mat-raised-button color="primary" type="submit" class="full-width">
        Recover Password
      </button>
    </form>
  </div>
</div>
