<h2 mat-dialog-title class="dialog-title">{{ 'ADD_USER.TITLE' | translate }}</h2>
<mat-dialog-content class="mat-dialog-content">
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" class="add-user-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'ADD_USER.USER_EMAIL' | translate }}</mat-label>
      <input matInput formControlName="email" placeholder="{{ 'ADD_USER.EMAIL_PLACEHOLDER' | translate }}" />
      <mat-error *ngIf="emailControl?.hasError('required')">
        {{ 'ADD_USER.EMAIL_REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="emailControl?.hasError('email')">
        {{ 'ADD_USER.EMAIL_INVALID' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button (click)="onCancel()" class="btn-cancel">{{ 'ADD_USER.CANCEL_BUTTON' | translate }}</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="addUserForm.invalid">
        {{ 'ADD_USER.ADD_BUTTON' | translate }}
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
