.dialog-title {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #3f51b5; /* Accent color */
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 20px; /* Ensure rounded corners */
}

.add-user-form {
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 20px; /* Rounded corners */
  overflow: hidden; /* Ensure rounded corners are visible */
}

mat-form-field mat-label {
  color: #3f51b5; /* Accent color */
}

mat-form-field mat-error {
  color: #f44336; /* Error color */
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  border-radius: 20px; /* Rounded corners for actions */
}

button.mat-button {
  min-width: 80px;
  font-size: 14px;
  color: #3f51b5; /* Accent color for text */
}

button.mat-raised-button {
  font-size: 14px;
  text-transform: none;
  border-radius: 20px; /* Rounded corners */
  background-color: #3f51b5; /* Primary color */
  color: #fff; /* White text color */
}

.btn-cancel {
  margin-right: 16px;
  background-color: #f5f5f5; /* Light gray background for cancel button */
  color: #333; /* Dark text color */
  border-radius: 20px; /* Rounded corners */
}

