<div class="pending-movements-container">
  <h2>{{ 'PENDING_MOVEMENTS.TITLE' | translate }}</h2>

  <div class="upload-container">
    <button mat-raised-button color="primary" (click)="fileInput.click()">
      {{ 'PENDING_MOVEMENTS.UPLOAD_CSV' | translate }}
    </button>
    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
  </div>

  <app-spinner [isLoading]="isLoading"></app-spinner>

  <div class="card-grid" *ngIf="!isLoading">
    <div class="card" *ngFor="let movement of pendingMovements" [ngClass]="{'matched': isMatched(movement), 'unmatched': !isMatched(movement)}">
      <div class="card-header">
        <div>{{ movement.booking_date | date:'dd/MM/yyyy' }}</div>
        <div class="card-amount">{{ movement.amount | currency:'EUR' }}</div>
      </div>
      <div class="card-body">
        <div class="card-description">{{ movement.description }}</div>
        <div class="card-details">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'PENDING_MOVEMENTS.MERCHANT' | translate }}</mat-label>
            <input matInput [(ngModel)]="movement.merchant" [matAutocomplete]="autoMerchant" (ngModelChange)="validateMerchant(movement)">
            <button mat-icon-button matSuffix (click)="openAddMerchantDialog()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
          <mat-autocomplete #autoMerchant="matAutocomplete">
            <mat-option *ngFor="let merchant of merchants" [value]="merchant.name">
              {{ merchant.name }}
            </mat-option>
          </mat-autocomplete>

          <mat-form-field appearance="fill">
            <mat-label>{{ 'PENDING_MOVEMENTS.CATEGORY' | translate }}</mat-label>
            <mat-select [(ngModel)]="movement.category" (selectionChange)="onCategoryChange(movement)">
              <mat-option *ngFor="let category of categories" [value]="category.name">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{ 'PENDING_MOVEMENTS.SUBCATEGORY' | translate }}</mat-label>
            <mat-select [(ngModel)]="movement.subcategory" (selectionChange)="validateSubcategory(movement)">
              <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.name">
                {{ subcategory.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="card-actions">
        <button mat-icon-button color="warn" (click)="deleteMovement(movement)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button class="approve-icon-button" (click)="approveMovement(movement)">
          <mat-icon>check_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
