<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">F</button>
    <div class="logo-text" *ngIf="collapsed">Budget</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <div class="scrollwrap">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <ng-container *ngIf="data.items && data.items.length > 0; else noSubMenu">
          <a class="sidenav-nav-link" (click)="handleClick(data)" [ngClass]="getActiveClass(data)">
            <i class="sidenav-link-icon" [class]="data.icon"></i>
            <span class="sidenav-link-text" *ngIf="collapsed">{{ data.label }}</span>
            <i *ngIf="collapsed" class="menu-collapse-icon" [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"></i>
          </a>
          <div *ngIf="collapsed">
            <app-sublevel-menu [data]="data" [collapsed]="collapsed" [multiple]="multiple" [expanded]="data.expanded ?? true"></app-sublevel-menu>
          </div>
        </ng-container>
        <ng-template #noSubMenu>
          <a class="sidenav-nav-link" *ngIf="data.routeLink !== '/logout'; else logoutLink" [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="shrinkItems(data)">
            <i class="sidenav-link-icon" [class]="data.icon"></i>
            <span class="sidenav-link-text" *ngIf="collapsed">{{ data.label }}</span>
          </a>
          <ng-template #logoutLink>
            <a class="sidenav-nav-link" (click)="onLogout()">
              <i class="sidenav-link-icon" [class]="data.icon"></i>
              <span class="sidenav-link-text" *ngIf="collapsed">{{ data.label }}</span>
            </a>
          </ng-template>
        </ng-template>
      </li>
    </ul>
  </div>
</div>
