/* Sidebar styling */
.sidenav {
  background: #263238;
  transition: width 0.3s ease; /* Smooth width transition */
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between logo and content */
  width: 16.5625rem; /* Expanded width */
}

/* Collapsed sidebar */
.sidenav-collapsed {
  width: 5rem; /* Collapsed width */
}

/* Logo container styling */
.logo-container {
  display: flex;
  align-items: center;
  padding: 0.938rem;
  width: 100%;
}

/* Logo styling */
.logo {
  background: #fff;
  text-align: center;
  width: 100%;
  border-radius: 0.313rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #263238;
  font-size: 24px;
  font-weight: 900;
}

/* Navigation styling */
.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow the navigation to grow */
  overflow-y: auto; /* Allow scrolling within the nav */
}

.sidenav-nav-item {
  width: 100%;
  margin-bottom: 0.625rem;
}

.sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: #f3f3f3;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all 0.3s ease;
  width: 100%;
}

.sidenav-link-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
}

.sidenav-link-text {
  margin-left: 1.5rem;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease, margin-left 0.3s ease;
}

/* Hide the text when sidebar is collapsed */
.sidenav-collapsed .sidenav-link-text {
  opacity: 0;
  visibility: hidden;
  margin-left: 0; /* Collapse the space taken by the text */
  overflow: hidden; /* Prevents any overflow when collapsed */
}

.sidenav-nav-link:hover,
.sidenav-nav-link:focus,
.active {
  background-color: #fff;
  color: #263238;
}

.sidenav-nav-link:hover .menu-collapse-icon,
.sidenav-nav-link:focus .menu-collapse-icon,
.active .menu-collapse-icon {
  color: #263238;
}

.menu-collapse-icon {
  font-size: 25px;
  width: 2rem;
  min-width: 2rem;
  margin: auto 0.5rem auto auto;
  text-align: center;
  color: #f3f3f3;
}

/* Scroll wrapper styling */
.scrollwrap {
  overflow-y: auto;
  flex-grow: 1; /* Allows the scrollable area to grow */
}

.scrollwrap::-webkit-scrollbar {
  width: 10px;
}

.scrollwrap::-webkit-scrollbar-track {
  background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
  background-color: #556268;
  border-radius: 20px;
}

.scrollwrap {
  scrollbar-width: thin;
  scrollbar-color: #556268 transparent;
}

/* Language container styling */
.language-container {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
  background-color: #263238; /* Match sidebar color */
}

/* Flag icon styling */
.flag-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0 0.5rem;
}

/* Specific styling to push the "Pending Movements" link to the bottom */
.nav-item-bottom {
  margin-top: auto;
  margin-bottom: 0.938rem; /* Add some spacing from the bottom */
}
