<div class="merchants-container">
  <app-spinner *ngIf="isLoading" [isLoading]="isLoading"></app-spinner> <!-- Spinner -->

  <div class="form-container" *ngIf="!isLoading"> <!-- Hide form while loading -->
    <form [formGroup]="merchantForm" (ngSubmit)="saveMerchant()">
      <h2>{{ isEditing ? ('MERCHANTS.EDIT_MERCHANT' | translate) : ('MERCHANTS.ADD_MERCHANT' | translate) }}</h2>
      <input type="hidden" formControlName="id">

      <mat-form-field appearance="fill">
        <mat-label>{{ 'MERCHANTS.NAME' | translate }}</mat-label>
        <input matInput type="text" formControlName="name" required>
        <mat-error *ngIf="merchantForm.get('name')?.hasError('required') && merchantForm.get('name')?.touched">
          {{ 'MERCHANTS.NAME_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'MERCHANTS.CATEGORY' | translate }}</mat-label>
        <mat-select formControlName="category_id">
          <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="merchantForm.get('category_id')?.hasError('required') && merchantForm.get('category_id')?.touched">
          {{ 'MERCHANTS.CATEGORY_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'MERCHANTS.SUBCATEGORY' | translate }}</mat-label>
        <mat-select formControlName="subcategory_id">
          <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{ subcategory.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="merchantForm.get('subcategory_id')?.hasError('required') && merchantForm.get('subcategory_id')?.touched">
          {{ 'MERCHANTS.SUBCATEGORY_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'MERCHANTS.ADDRESS' | translate }}</mat-label>
        <input matInput type="text" formControlName="address">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'MERCHANTS.PHONE' | translate }}</mat-label>
        <input matInput type="text" formControlName="phone">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'MERCHANTS.EMAIL' | translate }}</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="merchantForm.get('email')?.hasError('email') && merchantForm.get('email')?.touched">
          {{ 'MERCHANTS.EMAIL_INVALID' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'MERCHANTS.WEBSITE' | translate }}</mat-label>
        <input matInput type="url" formControlName="website">
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="merchantForm.invalid || isSaving">
          {{ isEditing ? ('MERCHANTS.UPDATE_MERCHANT' | translate) : ('MERCHANTS.ADD_MERCHANT' | translate) }}
        </button>
        <span class="flex-spacer"></span> <!-- This will push the Cancel button to the right -->
        <button mat-raised-button color="warn" type="button" (click)="resetForm()" *ngIf="isEditing">
          {{ 'MERCHANTS.CANCEL' | translate }}
        </button>
      </div>
    </form>
  </div>

  <div class="merchants-table-container" *ngIf="!isLoading"> <!-- Hide table while loading -->
    <table mat-table [dataSource]="merchants" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MERCHANTS.NAME' | translate }}</th>
        <td mat-cell *matCellDef="let merchant">{{ merchant.name }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MERCHANTS.CATEGORY' | translate }}</th>
        <td mat-cell *matCellDef="let merchant">{{ getCategoryNameById(merchant.category_id) }}</td>
      </ng-container>

      <ng-container matColumnDef="subcategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MERCHANTS.SUBCATEGORY' | translate }}</th>
        <td mat-cell *matCellDef="let merchant">{{ getSubcategoryNameById(merchant.subcategory_id) }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MERCHANTS.ADDRESS' | translate }}</th>
        <td mat-cell *matCellDef="let merchant">{{ merchant.address }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MERCHANTS.PHONE' | translate }}</th>
        <td mat-cell *matCellDef="let merchant">{{ merchant.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MERCHANTS.EMAIL' | translate }}</th>
        <td mat-cell *matCellDef="let merchant">{{ merchant.email }}</td>
      </ng-container>

      <ng-container matColumnDef="website">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MERCHANTS.WEBSITE' | translate }}</th>
        <td mat-cell *matCellDef="let merchant">{{ merchant.website }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{ 'MERCHANTS.ACTIONS' | translate }}</th>
        <td mat-cell *matCellDef="let merchant" class="action-buttons">
          <button mat-icon-button color="primary" matTooltip="{{ 'MERCHANTS.EDIT' | translate }}" (click)="editMerchant(merchant)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="{{ 'MERCHANTS.DELETE' | translate }}" (click)="deleteMerchant(merchant.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let merchant; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
