/* Import Angular Material theme */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
html, body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Card styles */
.card {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  margin: 1.25rem 0;
  box-shadow: 0 .25rem .5rem #e6edef;
}

.card-head {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #edf1f7;
  font-size: 1rem;
  font-weight: 600;
}

.card-body {
  padding: 1rem 1.5rem;
}

/* Snackbar styles */
.mat-snack-bar-container {
  right: 0 !important;
  transform: translateX(-100%) translateY(calc(50% - 24px)) !important;
  top: 50% !important;
}

.snackbar-success {
  background-color: #4caf50;
  color: white;
}

.snackbar-error {
  background-color: #f44336;
  color: white;
}

.snackbar-info {
  background-color: #2196f3;
  color: white;
}
