<ul *ngIf="data.items && data.items.length > 0" class="sublevel-nav">
  <li *ngFor="let item of data.items" class="sublevel-nav-item">
    <ng-container *ngIf="item.items && item.items.length > 0; else noSubMenu">
      <a class="sublevel-nav-link" (click)="handleClick(item)" [ngClass]="getActiveClass(item)">
        <i class="sublevel-link-icon fa fa-circle"></i>
        <span class="sublevel-link-text" *ngIf="collapsed">{{ item.label }}</span>
        <i *ngIf="collapsed" class="menu-collapse-icon" [ngClass]="!item.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"></i>
      </a>
      <div *ngIf="collapsed && item.expanded">
        <app-sublevel-menu [data]="item" [collapsed]="collapsed" [multiple]="multiple" [expanded]="item.expanded"></app-sublevel-menu>
      </div>
    </ng-container>
    <ng-template #noSubMenu>
      <a class="sublevel-nav-link" [routerLink]="[item.routeLink]" routerLinkActive="active-sublevel" [routerLinkActiveOptions]="{ exact: true }">
        <i class="sublevel-link-icon fa fa-circle"></i>
        <span class="sublevel-link-text" *ngIf="collapsed">{{ item.label }}</span>
      </a>
    </ng-template>
  </li>
</ul>
